.name-tag {
    height: 300px;
    width: 400px;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    box-shadow: 2px 2px 10px 2px gray;
    border-radius: 20px;
}

body {
    background-color: lightgray;
}

h1, h2 {
    margin: 0;
}

.top {
    background-color: red;
    color: white;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.middle {
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: white;
}

.bottom {
    background-color: red;
    border-radius: 0px 0px 20px 20px;
}


#pink-button {
    margin: 10px;
    background-color: pink;
}

#lightgreen-button {
    margin: 10px;
    background-color: lightgreen;
}

#lightblue-button {
    margin: 10px;
    background-color: lightblue;
}

.color-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 400px;
}


.inputs {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px;
    height: 100px;
    justify-content: space-evenly;
}

.text-input button {
    width: 150px;
    margin: 10px;
}